$primaryColor: #BADA55;
$padding: 15px;
$margin: 15px;
$transparent: rgba(0,0,0,0);
$white: #ffffff;
$text: #212529;
$primary: #007bff;
$success: #28a745;
$error: #dc3545;
$pageWidth: 800px;
$fontSize: 20px;
$paddingPage: 20px;
$heightHeader: 50px